<div class="slot-machine">
  <div class="head">
    <span>BOA SORTE!</span>
  </div>
  <div class="body">
    <div class="screen">
      <!-- {{result}} -->

      <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
      </div>
      <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
      </div>
      <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
      </div>

      <!-- <li>
            <img src="../../assets/img-x.png" width="40px" id="">
          </li>
          <li>
            <img src="../../assets/img-mercedes.jpeg" width="40px">
          </li>
          <li>
            <img src="../../assets/img-x.png" width="40px">
          </li> -->
    </div>
    <div class="keyboard">
      <div class="points">
        {{points}}
      </div>
      <button class="btn-spin" (click)="onSpin()">
        SPIN
      </button>
    </div>
  </div>
</div>
