<div class="container">
  <div class="slot-machine">
    <div class="head">
      <span>BOA SORTE!</span>
    </div>
    <div class="body">
      <div class="screen">
        <!-- {{result}} -->
        <div [@openClose]="leftColumn" class="screen-opt"></div>
        <div [@openClose]="centerColumn" class="screen-opt"></div>
        <div [@openClose]="rightColumn" class="screen-opt"></div>
      </div>

      <div class="keyboard">
        <div class="points">
          {{points}}
        </div>
        <button class="btn-spin" (click)="onSpin()">
          SPIN
        </button>
        <!-- <button class="btn-spin" (click)="toggle()">
        loop
      </button> -->
      </div>
    </div>
  </div>
  <div [@handle]="played" class="handle" (click)="playHandle()"></div>
</div>